* {
    box-sizing: border-box;
    margin: 0;
    background-color: green;
}

body {
    display: flex; 
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 14px;
    flex-direction: column;
    align-items: center;

}

h1 {
    text-align: center;
    color: white ;
    font-family: 'Permanent Marker', cursive;
    font-size: 72px;
}

i {
    font-size: 96px;
}

img {
    border-radius: 20px;
    width: 90px;
}

.rulesAndScoring {
    display: flex;
    width: 600px;

}

.game {
    display: flex;
    flex-flow: column;  
    align-items: center; 
}

button {
    background-color: #fff;
    font-size: 20px;
    border-radius: 5px; 
    border: 2px solid red
}

button:hover {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4)
}

.diceContainer {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}

.userScore, .cpuScore {
    display: inline-flex;
    margin: 15px;
    border: 3px dotted white;  
    padding: 50px;
    max-width: 200px;
}

